* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    background-color: rgb(246, 249, 252);
}
html, body {
    
    padding: 0;
    margin: 0;
}

/* Animation */

@keyframes colChangeCart{
    from {
        background-color: white;
    }
    to {
        background-color: orange;
    }
}

@keyframes showCart {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translate(0);
    }
}


